<% unless student.archived? %>
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= student.subject %>
  </p>

  <p>
  <%= link_to "Destroy Student", [student.teacher, student], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
</p>
<% end %>