
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>
  <p>
    <strong>Subject:</strong>
    <%= student.subject %>
  </p>


  <p>
 <%= link_to "Back", :back, :class => "btn btn-sm btn-warning" %>
  <%= link_to "delete", [student.teacher, student], :class => "btn btn-sm btn-danger", data: {
    turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
</p>
